# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
*.egg-info/
.DS_Store

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup

# GCP
.gcloud/
credentials.json

# Other
.env
*.log